$icon-size: 80px;

.round-icon {
	display: block;
	width: $icon-size;
	height: $icon-size;
	line-height: $icon-size;
	font-size: $icon-size/2;
	margin: 0 auto 20px;
	text-align: center;
	background: $color-2;
	color: #fff;
	border-radius: $icon-size;
}

.text-block {
	h3 {
		text-align: center;
	}
}