.header {
    line-height: 70px;

    &__center {
        display: flex;
        justify-content: space-between;
    }
}

.logo,
.menu-item a {
    color: #fff;
}

.logo {
    font-size: 26px;
    line-height: 70px;
    font-weight: bold;
}

.main-menu {
    display: flex;
    list-style: none;
}

.menu-item a {
    display: block;
    padding: 0 14px;
}

.current-menu-item > a {
    background: #fff;
    color: #333;
}
