* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $main-color;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #333;

    img {
        border: 0;
    }
}

h1 {
    font-size: 36px;
}

.section {
    padding: 0 3%;

    &__center {
        max-width: $shell;
        margin: 0 auto;
    }

    &--solid {
        color: #fff;
    }
}

.main {
    background-color: #fff;
    color: #333;
    overflow: hidden;
}

.main-background {
    background-color: $main-color;
}
