.page-content__sidebar .widget + .widget {
    margin-top: 2em;
}

// Generic widgets
.widget {
    padding: 0 20px;

    &__title {
        padding: 0 20px 8px;
        margin: 0 -20px 8px;
        border-bottom: 4px solid $main-color;
    }

    &__body {
        padding: 0 20px;
    }

    ul, ol {
        list-style: none outside none;
    }
}

// Search form
.widget_search {
    display: flex;
    align-items: center;
}

.search-form {
	display: flex;
    flex: 0 0 100%;

	&__field {
		background: #fff;
		border: none;
		height: 36px;
		line-height: 16px;
		padding: 10px;
		flex-grow: 1;
	}

	&__submit {
		border: none;
		cursor: pointer;
		background: $main-color;
		line-height: 36px;
		width: 36px;
		color: #fff;
	}
}
