// .header {
// 	background: $main-color;
// 	color: #fff;
// }
//
// .logo {
// 	display: block;
// 	font-size: 40px;
// 	padding: 30px 0;
//
// 	a {
// 		color: #fff;
// 		font-weight: bold;
// 		text-shadow: 0 0 5px rgba(0,0,0,0.3);
// 	}
//
// 	strong {
// 		color: #333;
// 		font-weight: normal;
// 	}
// }
//
// $menu-animation-speed: .3s;
//
// .main-menu { position: relative; }
// .main-menu a { color: #fff; }
// .menu { display: flex; list-style: none; }
// .menu-item { position: relative; margin-right: 10px; transition: all $menu-animation-speed ease; }
// .menu-item > a { display: block; padding: 15px; font-size: 20px; color: #333; transition: all $menu-animation-speed*2 ease; }
// .menu-item > a .fa { margin-right: 5px; }
// .single-event .menu-item-object-event,
// .current-menu-ancestor,
// .current-menu-item {
// 	background: #fff;
//
// 	a {
// 		color: #333;
// 	}
// }
// .menu-item.has-mega-menu { position: static; }
// .mega-menu,
// .sub-menu { position: absolute; visibility: hidden; top: 100%; background: #ccc; opacity: 0; transition: all $menu-animation-speed ease; }
// .sub-menu { left: 0; list-style: none; }
// .sub-menu a { color: #fff; }
// .mega-menu { left: 0; width: 100%;}
// .mega-menu .center { width: 100%; max-width: $center+40px; display: flex; }
// .mega-menu .widget { width: 100%; padding: 20px; }
// .sub-menu,
// .mega-menu,
// .menu-item:hover { background: rgba(255,255,255,.4) }
// .menu-item:hover > a { color: #fff; }
// .menu-item:hover .sub-menu,
// .menu-item:hover .mega-menu { visibility: visible; opacity: 1; transition: all $menu-animation-speed ease; }
