// * {
// 	padding: 0;
// 	margin: 0;
// 	box-sizing: border-box;
// 	outline: none;
// }
//
// body {
// 	font-size: 16px;
// 	line-height: 1.2;
// 	font-family: Lato, Arial, Sans-Serif;
// 	background: $main-color;
// }
//
// a {
// 	text-decoration: none;
//
// 	img {
// 		border: 0;
// 	}
// }
//
// $center: 1100px;
// .center {
// 	max-width: $center;
// 	margin: 0 auto;
// 	overflow: hidden;
// }
//
// .main {
// 	background: $main-color;
// 	padding: 25px 0;
// }
//
// .layout {
// 	background: $main-color;
//
// 	.center {
// 		display: flex;
// 		max-width: calc(#{$center} + 20px);
// 		justify-content: center;
// 	}
//
// 	&-row {
// 		padding: 20px 0;
// 	}
//
// 	&-column {
// 		padding: 0 10px;
// 	}
//
// 	&-column-3 { width: 25%; }
// 	&-column-4 { width: 33.33%; }
// 	&-column-6 { width: 50%; }
// 	&-column-8 { width: 66.66%; }
// 	&-column-9 { width: 75%; }
// 	&-column-12 { width: 100%; }
// }
//
// .rte {
// 	ul, ol, li, p, h1, h2, h3, h4, h5 {
// 		margin-bottom: 1em;
// 	}
// }
//
// .breadcrumbs {
// 	padding-bottom: 20px;
// 	border-bottom: 2px solid #ddd;
// 	margin-bottom: 20px;
// }
//
// .uf-map {
// 	border: 5px solid $main-color;
// 	margin: 20px 0;
// }
